# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


boarderline/bin/*
boarderline/cmake-build-debug/*
boarderline/cmake-build-debug-clang/*
boarderline/cmake-build-minsizerel/*
boarderline/cmake-build-release/*
boarderline/cmake-build-relwithdebinfo/*
out/*
.vs
.idea/*
.idea/workspace.xml
picklingtools

cmake-build-debug/*
