# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/*
cmake-build-debug/*
azpp/bin/*
deps/libtorch/*
deps/libtorch_debug/*
azpp/cmake-build-debug/*
azpp/cmake-build-debug-clang/*
azpp/cmake-build-minsizerel/*
azpp/cmake-build-release/*
azpp/cmake-build-relwithdebinfo/*
bin/*
cmake-build-debug/*
cmake-build-debug-clang/*
cmake-build-minsizerel/*
cmake-build-release/*
cmake-build-relwithdebinfo/*
.DS_Store
azpp/.DS_Store
out/*
.vs
.idea/*
.idea/workspace.xml
picklingtools

cmake-build-debug/*
